.container-position-save {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .form-container {
    margin: 0;
    max-width: none;
  }
}

.container-map-style {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

@media (max-width: 350px) {
  .container-position-save {
    flex-direction: column;
  }

  .container-map-style {
    flex-direction: column;
    align-items: center;
  }
}
