.server-message-container {
    position: sticky; 
    top: 0;
    z-index: 10000;
    display: block;
    width: 100%;
  }

.server-message {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    p {
        display: inline;
    }
}


.close-message {
    border-radius: 50%;
    color: black;
    margin: 0.5em 1em;
}

.info {
    background-color: rgb(26, 71, 0);
    color: white;
}

.warning {
background-color: rgb(141, 0, 0);
color: white;
}